<footer class="footer">
    <div class="site-footer">
        <div class="container">
            <div class="footer-inner padding-bottom-50 padding-top-50">
                <div class="row">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <a class="margin-bottom-0" href="https://fresh-food-theme.bizwebvietnam.net/" title="Fresh Food">
                                <img src="~/GiaoDien/logo.png" alt="Fresh Food">
                            </a>
                            <ul class="list-menu menu_first">
                                <li>
                                    <p>
                                        Được thành lập vào ngày 20/08/2008 với niềm đam mê và khát vọng thành công trong lĩnh vực may mặc
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i> <span class="frist_"><span class="b_font"></span>236 Hoàng Quốc Việt, Từ Liêm, Hà Nội</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i><span class="frist_"><span class="b_font"><a href="mailto:support@sapo.vn">support@sapo.vn</a> </span></span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i><span class="frist_"><span class="b_font"><a href="tel:19006868">19006868</a></span></span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <h4 class="cliked margin-bottom-20 hasclick"><span>Hướng dẫn</span></h4>
                            <ul class="list-menu toggle-mn" style="">

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/" title="Trang chủ">Trang chủ</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/collections/all" title="Sản phẩm">Sản phẩm</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/huong-dan-mua-hang" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/tin-tuc" title="Tin tức">Tin tức</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/lien-he" title="Liên hệ">Liên hệ</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/ban-do" title="Bản đồ">Bản đồ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                        <div class="footer-widget">
                            <h4 class="cliked margin-bottom-20 hasclick"><span>Chính sách</span></h4>
                            <ul class="list-menu toggle-mn" style="">

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/" title="Trang chủ">Trang chủ</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/collections/all" title="Sản phẩm">Sản phẩm</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/huong-dan-mua-hang" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/tin-tuc" title="Tin tức">Tin tức</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/lien-he" title="Liên hệ">Liên hệ</a></li>

                                <li class="li_effect"><a href="https://fresh-food-theme.bizwebvietnam.net/ban-do" title="Bản đồ">Bản đồ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                        <div class="footer-widget">
                            <h4 class="cliked margin-bottom-20"><span>Gửi email</span></h4>

                            <span class="text_form">Gửi email nhận khuyến mãi</span>
                            <div class="form_subs">



                                <form action="https://dkt.us13.list-manage.com/subscribe/post?u=0bafe4be7e17843051883e746&amp;id=3bdd6e9e3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                    <button class="btn btn-white subscribe" name="subscribe" id="subscribe"><i class="fa fa-paper-plane"></i></button>
                                    <input type="email" value="" placeholder="Email của bạn" name="EMAIL" id="mail" aria-label="">
                                </form>
                            </div>

                            <ul class="follow_option">
                                <li class="text">Kết nối</li>
                                <li>
                                    <a class="goplus" href="https://fresh-food-theme.bizwebvietnam.net/#" title="Theo dõi Google Plus Fresh Food"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://fresh-food-theme.bizwebvietnam.net/#" title="Theo dõi Twitter Fresh Food"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="fb" href="https://fresh-food-theme.bizwebvietnam.net/#" title="Theo dõi Facebook Fresh Food"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="in" href="https://fresh-food-theme.bizwebvietnam.net/#" title="Theo dõi Linkedin Fresh Food"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright clearfix">
        <div class="container">
            <div class="inner clearfix">
                <div class="row tablet">
                    <div id="copyright" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fot_copyright">
                        <span class="wsp"><span class="mobile">@@2017 - Bản quyền thuộc về <b>Awesome Team</b></span><span class="hidden-xs"> | </span><span class="mobile">Cung cấp bởi <a href="https://www.sapo.vn/?utm_campaign=cpn:site_khach_hang-plm:footer&amp;utm_source=site_khach_hang&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=site_khach_hang" title="Sapo" rel="nofollow" target="_blank">Sapo</a></span></span>
                    </div>
                </div>
            </div>

            <a href="https://fresh-food-theme.bizwebvietnam.net/#" id="back-to-top" class="backtop show" title="Lên đầu trang"><i class="fa fa-angle-up"></i></a>


            <a class="hidden-lg phone_backtotop left_center" title="Gọi ngay" href="tel:19006750"><i class="fa fa-phone"></i></a>

        </div>
    </div>
</footer>
