@using WebBanHang.Models.Entity
@using System.Data.Entity;
@{
    BanHangEntity db = new BanHangEntity();
    var lstSanPham = db.SanPhams.Include(x => x.ChiTietDonDatHangs).ToList();
    lstSanPham = ViewBag.lstSanPham;
    ViewBag.Title = "CartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Amado - Furniture Ecommerce Template | Cart</title>

    <!-- Favicon  -->
    <link rel="icon" href="~/Content_Web/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content_Web/css/core-style.css">
    <link rel="stylesheet" href="~/Content_Web/style.css">

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="cart-title mt-50">
                        <h2>Giỏ hàng</h2>
                    </div>

                    <div class="cart-table clearfix table table-responsive">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="max-width:20%">Tên sản phẩm</th>
                                    <th style="max-width:20%">Gía</th>
                                    <th style="max-width:20%">Số lượng</th>
                                    <th style="max-width:20%">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                @{
                                                    var imageSource = i.SanPham.AnhSanPham == null ? "" : Url.Content(i.SanPham.AnhSanPham);
                                                }
                                                <td class="cart_product_img">
                                                    <a href="#"><img src="@imageSource" alt="Product"></a>
                                                </td>
                                                <td class="cart_product_desc" style="max-width:20%">
                                                    <h5>@i.SanPham.TenSanPham</h5>
                                                </td>
                                                <td class="price" style="max-width:20%">
                                                    <span>$@i.SanPham.GiaBan</span>
                                                </td>
                                                @{
                                                    // var soLuong =i.ChiTietDonDatHangs;
                                                    int? sl;
                                                    if (i.SoLuong != null)
                                                    {
                                                        sl = i.SoLuong;
                                                    }
                                                    else
                                                    {
                                                        sl = 0;
                                                    }
                                                }
                                                <td class="quantity" style="max-width:20%">
                                               <span>@sl</span>
                                                </td>
                                                <td class="huy" style="max-width:20%">
                                                    <a href="javascript: DeleteProduct(@i.SanPhamID)" class="fav-nav"><img src="~/Content_Web/img/core-img/remove_product_delete-512.png" alt=""> Huỷ</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <div>Không có sản phẩm nào trong giỏ</div>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>Tổng Tiền </h5>
                        <ul class="summary-table">
                            <li><span>Thành tiền:</span> <span>$@ViewBag.TongTien</span></li>
                            <li><span>Vận chuyển:</span> <span>Free</span></li>
                            <li><span>Tiền phải thanh toán:</span> <span>$@ViewBag.TongTien</span></li>
                            <li>
                                <div>
                                    <span>hẹn lấy hàng từ:</span>
                                    <input style=" border-width: 1px;border-radius: 4px;padding: 5px;" type="datetime-local" id="henTu" name="henTu" required />
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>hẹn lấy hàng đến:</span><input style=" border-width: 1px;border-radius: 4px;padding: 5px;" type="datetime-local" id="henDen" name="henDen" onkeyup="" required />
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>ghi chú với đơn:</span>
                                    <textarea style=" border-width: 1px;border-radius: 4px;padding: 5px; width: 100%" type="text" id="ghiChu" name="ghiChu" required></textarea>
                                </div>
                            </li>
                        </ul>
                        @{
                            if (Model != null)
                            {
                                <div class="cart-btn mt-100">
                                    <a style=" margin-top: -100px;" href="javascript:someFunction()" class="btn amado-btn w-100">Đặt hàng</a>
                                </div>
                            }
                            else
                            {
                                <div></div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<script>
    function someFunction() {

        var henTu = document.getElementById("henTu").value;
        var henDen = document.getElementById("henDen").value;
        var ghiChu = document.getElementById("ghiChu").value;

        if (henTu != null && henDen != null && henDen < henTu) {
            alert("Phải chọn đúng ngày lấy hàng!")
        }
        else {
            var url = '/Home/DatHang?henTu=' + henTu + '&henDen=' + henDen + '&ghiChu=' + ghiChu;
            if (confirm("Bạn có chắc muốn đặt hàng?")) {
                alert("Đặt hàng thành công");
                window.location.href = url;
            }
        }

    }
    function DeleteProduct(SanPhamID) {
        if (confirm("Bạn có chắc muốn hủy sản phẩm này?")) {
            var url = "/Home/DeleteItem?SanPhamID=" + SanPhamID;
            window.location.href = url;
            alert("Hủy thành công");
        }
    }
</script>



