@using WebBanHang.Models.Entity
@{
    ViewBag.Title = "ChiTietDon";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <h3>Đơn hàng số </h3>
        </div>
        <div class="row">

</div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <h3 style="color:red">Tổng tiền:  <u>đ</u></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <h5>Ngày đặt:</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <h5>Hẹn lấy hàng: </h5>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <h5>Hẹn trả hàng:</h5>
            </div>
         
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <h5>Ghi chú: </h5>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <h5>Tình trạng: </h5>
            </div>

        </div>
    </div>
</div>
