@using WebBanHang.Models.Entity
@{
    SanPham sanPham = ViewBag.sanPham;
    ViewBag.Title = "DetailProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item" onclick="goBack()"><a href="#"></a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7" style="padding-left: 35px">
                  </div>
            <div class="col-12 col-lg-5">
             </div>
        </div>
        <div class="row wrap" style="padding: 15px">

            <div class="col-lg-12">
                <div class="headerCT">MÔ TẢ SẢN PHẨM</div>
            </div>
          
        </div>
    </div>
</div>

