@using WebBanHang.Models.Entity
@{
    BanHangEntity db = new BanHangEntity();
    List<LoaiSanPham> lst = db.LoaiSanPhams.ToList();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        @foreach (var i in lst)
        {
            <div class="single-products-catagory clearfix" style="padding:10px">
                @{
                    var url = "/Home/ListProductView?loaiSanPhamID=" + i.LoaiSanPhamID;
                }
                <a href="@url">
                    @{
                        var imageSource = i.AnhDaiDien == null ? "" : Url.Content(i.AnhDaiDien);
                    }
                    <img src="@imageSource" alt="Image" style="height:300px;" />
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>

                        <h3><b>@i.TenLoai</b></h3>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<!-- ##### Footer Area End ##### -->
<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="~/Content_Web/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="~/Content_Web/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/Content_Web/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="~/Content_Web/js/plugins.js"></script>
<!-- Active js -->
<script src="~/Content_Web/js/active.js"></script>